doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 登陆页
  body
    #all
      #eye
      h1 欢迎登陆
      form(method='post')
        // input里面的placeholder用来显示灰色的提示信息
        label(for='name')
          | ID： 
          input#name(type='text', name='uid', value='', placeholder=' 6~18 位字母、数字或下划线')
        br
        span#name_message.message
        label(for='password')
          | 密码： 
          input#password(type='password', name='upassword', value='', placeholder='6~12 位数字、字母、中/下划线')
        br
        |             
        span#pw_message.message
        |             
        span#error
        |         
        input#signin(type='submit', value='登陆')
        input#reset(type='reset', value='清除')